{% extends "layout.html" %}

	{% block content %}
        <section id="banner">
			<!--div class="container"-->
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<h1>Financial Agent Registration Application</h1>
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</h2>
							<div class="buttons">
								<a href="#Register" target="_blank" class="btn btn-learn" style="color: green; font-weight: bold;">Register Now</a>
								<a href="#Contact" target="_blank" class="btn btn-learn"  style="color: green; font-weight: bold;">View More</a>
							</div>
						</div>
					</div>
				</div>
			<!--/div-->
			<div class="scrolldown">
	            <a id="scroll" href="#features" class="scroll"></a>
	        </div>
		</section>

		<section id="client-logo">
			<!--div class="container"-->
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<div id="Client_Logo" class="owl-carousel">
								<div>
									<a href="#"><img class="img-responsive" src="{{url_for('.static', filename='img/clientLogo/client-logo1.jpg')}}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{{url_for('.static', filename='img/clientLogo/client-logo2.jpg')}}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{{url_for('.static', filename='img/clientLogo/client-logo3.jpg')}}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{{url_for('.static', filename='img/clientLogo/client-logo4.jpg')}}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{{url_for('.static', filename='img/clientLogo/client-logo5.jpg')}}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{{url_for('.static', filename='img/clientLogo/client-logo6.jpg')}}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{{url_for('.static', filename='img/clientLogo/client-logo1.jpg')}}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{{url_for('.static', filename='img/clientLogo/client-logo2.jpg')}}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{{url_for('.static', filename='img/clientLogo/client-logo3.jpg')}}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{{url_for('.static', filename='img/clientLogo/client-logo4.jpg')}}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{{url_for('.static', filename='img/clientLogo/client-logo5.jpg')}}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{{url_for('.static', filename='img/clientLogo/client-logo6.jpg')}}" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!--/div-->
		</section>


     {% endblock %}