{% extends "layout.html" %}

	{% block content %}
        <section id="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<h1>Financial Agent Registration Application</h1>
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</h2>
							<div class="buttons">
								<a href="#Register">Register Now</a>
								<a href="https://themefisher.com/free-bootstrap-templates/" target="_blank" class="btn btn-learn">View More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="scrolldown">
	            <a id="scroll" href="#features" class="scroll"></a>
	        </div>
		</section>
     {% endblock %}