{% block doc %}
<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Financial Inclussion Services</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
  		<meta content="" name="keywords">
  		<meta content="" name="description">
		
		<!-- google fonts -->

		<!-- Css link -->
	 {% block styles %}
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="{{url_for('.static', filename='css/font-awesome.min.css')}}">
		<link rel="stylesheet" href="{{url_for('.static', filename='css/owl.carousel.css')}}">
		<link rel="stylesheet" href="{{url_for('.static', filename='css/owl.transitions.css')}}">
		<link rel="stylesheet" href="{{url_for('.static', filename='css/animate.min.css')}}">
		<link rel="stylesheet" href="{{url_for('.static', filename='css/lightbox.css')}}">
		<link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{url_for('.static', filename='css/preloader.css')}}">
		<link rel="stylesheet" href="{{url_for('.static', filename='css/image.css')}}">
		<link rel="stylesheet" href="{{url_for('.static', filename='css/icon.css')}}">
		<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
		<link rel="stylesheet" href="{{url_for('.static', filename='css/responsive.css')}}">
		<style>
		       /* Set the size of the div element that contains the map */
		      #mapmio {
		        height: 400px;  /* The height is 400 pixels */
		        width: 100%;  /* The width is the width of the web page */
		       }
		</style>
    {% endblock %}


    	<!-- load Js -->
	{% block scripts %}
		<script src="{{url_for('.static', filename='js/jquery-1.11.3.min.js')}}"></script>
		<script src="{{url_for('.static', filename='js/bootstrap.min.js')}}"></script>
		<script async defer 
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcU6gRJebrpJTPa8fCyqOvwQSCL7-3weY&callback=initMap">
		</script>
		<script src="{{url_for('.static', filename='js/waypoints.min.js')}}"></script>
		<script src="{{url_for('.static', filename='js/lightbox.js')}}"></script>
		<script src="{{url_for('.static', filename='js/jquery.counterup.min.js')}}"></script>
		<script src="{{url_for('.static', filename='js/owl.carousel.min.js')}}"></script>
		<script src="{{url_for('.static', filename='js/html5lightbox.js')}}"></script>
		<script src="{{url_for('.static', filename='js/jquery.mixitup.js')}}"></script>
		<script src="{{url_for('.static', filename='js/wow.min.js')}}"></script>
		<script src="{{url_for('.static', filename='js/jquery.scrollUp.js')}}"></script>
		<script src="{{url_for('.static', filename='js/jquery.sticky.js')}}"></script>
		<script src="{{url_for('.static', filename='js/jquery.nav.js')}}"></script>
		<script src="{{url_for('.static', filename='js/main.js')}}"></script>
		<script>
		// Initialize and add the map
		function initMap() {
						  // The location of Uluru
						  var fic = {lat: 6.556344, lng: 3.3695767}; //,
						  // The map, centered at Uluru
						  var map = new google.maps.Map(
						      document.getElementById('mapmio'), {zoom: 15, center: fic});
						  // The marker, positioned at Uluru
						  var marker = new google.maps.Marker({position: fic, map: map});
							}
		</script>
		<script>

			var map;

			function initialize() {
			  var mapOptions = {
							    zoom: 16
							  };
			  map = new google.maps.Map(document.getElementById("googleMap"),
			      mapOptions);

			  // Try HTML5 geolocation
			  if(navigator.geolocation) {
			    navigator.geolocation.getCurrentPosition(function(position)
			     		{
			      			var pos = new google.maps.LatLng(position.coords.latitude,
			                    position.coords.longitude);
			      
						      //var pos_lat_long = pos_info_lat.concat(pos_info_long); 

						      var infowindow = new google.maps.InfoWindow({
													        map: map,
													        position: pos,
													        content: 'Agent Transaction Management Platform' + '<br>' +
															' will acquire your Location data' + '<br>' +
													        	 'Latitude: ' + position.coords.latitude + '<br>' +
															 'Longitude: ' + position.coords.longitude
														
													      });


								      map.setCenter(pos);
								    }, function() {
								      handleNoGeolocation(true);
								    });
			   

			{
			function showPosition(position) {
			var Latitude = position.coords.latitude;
			document.getElementById("LatitudeValue").innerHTML = Latitude; 

			var Longitude = position.coords.longitude;
			document.getElementById("LongitudeValue").innerHTML = Longitude; 
			}
			};


			{
			document.getElementById("lat").setAttribute("value", newLat);
			document.getElementById("lng").setAttribute("value", newLng);

			};}

			else {
			    // Browser doesn't support Geolocation
			    handleNoGeolocation(false);
			  }
			}

			function handleNoGeolocation(errorFlag) {
			  if (errorFlag) {
			    var content = 'Error: The Geolocation service failed.';
			  } else {
			    var content = 'Error: Your browser doesn\'t support geolocation.';
			  }

			  var options = {
			    map: map,
			    position: new google.maps.LatLng(6.5562982,3.371518), //default location if mapping failed
			    content: content
			  };

			  var infowindow = new google.maps.InfoWindow(options);
			  map.setCenter(options.position);
			}

			google.maps.event.addDomListener(window, 'load', initialize);

    </script>
	{% endblock %}

	</head>
	<body id="top">
	    <header id="navigation" class="navbar-fixed-top animated-header">
            <!--div class="container"-->
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand ">
						<a href="#body"><img src="{{url_for('.static', filename='img/logo.png')}}" height="60" width="64" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>
                {% block navbar %}
				<!-- main nav -->
	                <nav class="collapse navbar-collapse navbar-right " role="navigation">
	                    <ul id="nav" class="nav navbar-nav menu">
	                        <li><a href="#top">Home</a></li>
	                        <li><a href="/register">Register</a></li>
	                        <!--li><a href="#portfolio">Portfolio</a></li>
	                        <li><a href="#team">Team</a></li>
	                        <li><a href="#pricing-table">Price</a></li>
	                        <li><a href="#blog">Blog</a></li>
	                        <li><a href="#testimonial">Testimonial</a></li-->
	                        <li><a href="/contact">Contact</a></li>
	                    </ul>
	                </nav>
				<!-- /main nav -->
				{% endblock %}
				
            <!--/div-->
        </header>
    <div class="wrapper">
<br>

    {% block content %}{% endblock %}

	
    {% block footer %}
		<footer>
			<!--div class="container"-->
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<a href="#"><img src="{{url_for('.static', filename='img/logo.png')}}" alt=""></a>
							<p>© 2018 All rights reserved <a href="https://one.net.ng/" target="_blank">One Network</a></p>
						</div>
					</div>
				</div>
			<!--/div-->
		</footer>
	{% endblock %}
	</div>

	
	</body>
</html>
{% endblock %}