<!--{#% extends "bootstrap/base.html" %#}-->
{% block doc %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FIC</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  {% block styles %}
  <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='css/cover.css')}}">
  <!--link rel="stylesheet" href="{{url_for('.static', filename='css/navbar.css')}}"-->
  <link rel="stylesheet" href="{{url_for('.static', filename='css/carousel.css')}}">
  <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"-->
  {% endblock %}


  {% block scripts %}
  <script src="{{url_for('.static', filename='js/jquery-3.2.1.slim.min.js')}}"></script>
  <script src="{{url_for('.static', filename='js/popper.min.js')}}"></script>
  <script src="{{url_for('.static', filename='js/bootstrap.js')}}"></script>
  <!--script src="{{url_for('.static', filename='js/holder.min.js')}}"></script-->
  {% endblock %}

</head>

<body class="text-center" style="background-color: #050;"> <!-- open body -->
 <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Financial Inclussion CenterC</h3>
          
          {% block navbar %}
            <nav class="nav nav-masthead justify-content-center navbar-expand-md">
              <!--a class="navbar-brand" href="#">Expand at md</a-->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link active" href="#">Home  <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
              </div> 
            </nav>
          {% endblock %}

        </div>
      </header>
    
      {% block content %}{% endblock %}


      {% block footer %}
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Designed for <a href="https://getbootstrap.com/">FIC</a> by <a href="https://twitter.com/imosudi">@imosudi</a></p>
        </div>
      </footer>
      {% endblock %}
    
</div>  
</body> <!--Close body-->
  </html>
  {% endblock %}