{% block doc %}
<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Financial Inclussion Services</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
  		<meta content="" name="keywords">
  		<meta content="" name="description">
		
		<!-- google fonts -->

		<!-- Css link -->
	 {% block styles %}
 		<link rel="stylesheet" 
 		href="{{url_for('.static', filename='css/bootstrap4.css')}}">
		<link rel="stylesheet" 
		href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" 
		href="{{url_for('.static', filename='css/font-awesome.min.css')}}">
		<link rel="stylesheet" 
		href="{{url_for('.static', filename='css/owl.carousel.css')}}">
		<link rel="stylesheet" 
		href="{{url_for('.static', filename='css/carousel_4.css')}}">
		<link rel="stylesheet" 
		href="{{url_for('.static', filename='css/owl.transitions.css')}}">
		<link rel="stylesheet" 
		href="{{url_for('.static', filename='css/animate.min.css')}}">
		<link rel="stylesheet" 
		href="{{url_for('.static', filename='css/lightbox.css')}}">
		<link rel="stylesheet" 
		href="{{url_for('.static', filename='css/preloader.css')}}">
		<link rel="stylesheet" 
		href="{{url_for('.static', filename='css/image.css')}}">
		<link rel="stylesheet" 
		href="{{url_for('.static', filename='css/icon.css')}}">
		<link rel="stylesheet" 
		href="{{url_for('.static', filename='css/style.css')}}">
		<link rel="stylesheet" 
		href="{{url_for('.static', filename='css/responsive.css')}}">
		<style>
		       /* Set the size of the div element that contains the map */
		      #mapmio {
		        height: 400px;  /* The height is 400 pixels */
		        width: 100%;  /* The width is the width of the web page */
		       }
		</style>
    {% endblock %}


    	<!-- load Js -->
	{% block scripts %}
		<!--script src="{{url_for('.static', filename='js/jquery-3.2.1.slim.min.js')}}"></script-->
		<script src="{{url_for('.static', filename='js/jquery-1.11.3.min.js')}}"></script>
		<script src="{{url_for('.static', filename='js/bootstrap4.js')}}"></script>
		{% if page == 'register'  %} 
		{% raw %}
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDcU6gRJebrpJTPa8fCyqOvwQSCL7-3weY&callback=initMap"></script>
		{% endraw %}
		{% endif %}
		{% if page == 'registration' %} 
		{% raw %}
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDcU6gRJebrpJTPa8fCyqOvwQSCL7-3weY&callback=initMap"></script>
		{% endraw %}
		{% endif %}
		<script async defer 
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcU6gRJebrpJTPa8fCyqOvwQSCL7-3weY&callback=initMap">
		</script>
		<script src="{{url_for('.static', filename='js/waypoints.min.js')}}"></script>
		<script src="{{url_for('.static', filename='js/lightbox.js')}}"></script>
		<script src="{{url_for('.static', filename='js/jquery.counterup.min.js')}}"></script>
		<script src="{{url_for('.static', filename='js/owl.carousel.min.js')}}"></script>
		<script src="{{url_for('.static', filename='js/html5lightbox.js')}}"></script>
		<script src="{{url_for('.static', filename='js/jquery.mixitup.js')}}"></script>
		<script src="{{url_for('.static', filename='js/wow.min.js')}}"></script>
		<script src="{{url_for('.static', filename='js/jquery.scrollUp.js')}}"></script>
		<script src="{{url_for('.static', filename='js/jquery.sticky.js')}}"></script>
		<script src="{{url_for('.static', filename='js/jquery.nav.js')}}"></script>
		<script src="{{url_for('.static', filename='js/main.js')}}"></script>
		
		
	{% if page == 'contact' %} 
	{% raw %}
	<script>
		// Initialize and add the map
		//function initMap() {
		function initMap() {
						  // The location of FIC PLC Headquarters
						  var fic = {lat: 6.556344, lng: 3.3695767}; //,
						  // The map, centered at FIC PLC Headquarters
						  var map1 = new google.maps.Map(
						      document.getElementById('mapmio'), {zoom: 15, center: fic});
						  // The marker, positioned at FIC PLC Headquarters
						  var marker = new google.maps.Marker({position: fic, map: map1});
							}
		</script>
	{% endraw %}
	{% endif %}

	{% if page == 'register' or page == 'registration' %} 
	{% raw %}
		<script>
			var map;

			function initialize() {
			  var mapOptions = {
							    zoom: 16
							  };
			  map = new google.maps.Map(document.getElementById('googleMap'),
			      mapOptions);

			  // Try HTML5 geolocation
			  if(navigator.geolocation) {
			    navigator.geolocation.getCurrentPosition(function(position)
			     		{
			      			var pos = new google.maps.LatLng(position.coords.latitude,
			                    position.coords.longitude);
			      
						      //var pos_lat_long = pos_info_lat.concat(pos_info_long); 

						      var infowindow = new google.maps.InfoWindow({
													        map: map,
													        position: pos,
													        content: 'Financial Inclussion Agent Management Platform' + '<br>' +
															' will acquire your Location Details' + '<br>' +
													        	 'Latitude: ' + position.coords.latitude + '<br>' +
															 'Longitude: ' + position.coords.longitude
														
													      });


								      map.setCenter(pos);
								    }, function() {
								      handleNoGeolocation(true);
								    });
			   

			{
			function showPosition(position) {
			var Latitude = position.coords.latitude;
			document.getElementById("LatitudeValue").innerHTML = Latitude; 

			var Longitude = position.coords.longitude;
			document.getElementById("LongitudeValue").innerHTML = Longitude; 
			}
			};


			{
			document.getElementById("lat").setAttribute("value", newLat);
			document.getElementById("lng").setAttribute("value", newLng);

			};}

			else {
			    // Browser doesn't support Geolocation
			    handleNoGeolocation(false);
			  }
			}

			function handleNoGeolocation(errorFlag) {
			  if (errorFlag) {
			    var content = 'Error: The Geolocation service failed.';
			  } else {
			    var content = 'Error: Your browser doesn\'t support geolocation.';
			  }

			  var options = {
			    map: map,
			    position: new google.maps.LatLng(6.5562982,3.371518), //default location if mapping failed
			    content: content
			  };

			  var infowindow = new google.maps.InfoWindow(options);
			  map.setCenter(options.position);
			}

			google.maps.event.addDomListener(window, 'load', initialize);

    </script> 
    {% endraw %}
 {% endif %}


{% if page == 'register' %}
{% raw %}
 
    <script>
		
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
}

    function showPosition(position) {

document.getElementById('Latitude1').value = position.coords.latitude;
document.getElementById('Longitude1').value = position.coords.longitude;

}

</script> 
    {% endraw %}
{% endif %}


	{% endblock %}

	</head>
	<body id="top">
	    <header id="navigation" class="navbar-fixed-top navbar-expand-md animated-header" style="padding-bottom: 5px;">
            <!--div class="container"-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        		<span class="navbar-toggler-icon"></span>
      		</button>
            {% block navbar %}
            <div class="container">
            	<div class="container header clearfix fixed-top "  style="border: 0px solid #008000;text-align:left; background-color:#F4AE00; height: 75px;">
        			<nav>
          				<ul class="nav nav-pills float-right">
          					<li class="nav-item">
            					{% if page=='home' %} 
									{% raw %} <a class="nav-link active" href="#"> {% endraw %}
								{% endif %}
								{% if page!='home' %}
									{% raw %} <a class="nav-link" href="/"> {% endraw %}
								{% endif %}

										Home <span class="sr-only">(current)</span></a>
            				</li>

							<li class="nav-item">
								{% if page=='register' %} 
									{% raw %} <a class="nav-link active" href="#">Register</a> {% endraw %}
								{% endif %}
								{% if page!='register' %} 
									{% raw %}<a class="nav-link " href="/register">Register</a> {% endraw %}
								{% endif %}
							</li>

		    				<li class="nav-item">
								{% if page=='contact' %} 
									{% raw %} <a class="nav-link active"  href="#"> Contact</a> {% endraw %}
								{% endif %}
								{% if page!='contact' %} 
									{% raw %} <a class="nav-link " href="/contact"> Contact</a> {% endraw %}
								{% endif %}
							</li>

							<li class="nav-item">
    							{% if page=='about' %} 
									{% raw %} <a class="nav-link active" href="#"> About Us</a> {% endraw %}
								{% endif %}
								{% if page!='about' %} 
									{% raw %} <a class="nav-link " href="/about"> About Us</a> {% endraw %}
								{% endif %}
    		    			</li>
				        </ul>
        			</nav>
					<!--h3 class="font-weight-bold" >
        				<a href="/" class="text-primary" style="font-family: 'Indie Flower', cursive;">notes</a><a href="/" class="text-success" style="font-family: 'Raleway', sans-serif;">App</a></h3-->
        				<a href="#body"><img src="{{url_for('.static', filename='img/fic_logo_2.png')}}" height="60" width="310" alt=""></a>
      			</div>
      		</div>
				<!-- /main nav -->
				{% endblock %}
				
            <!--/div-->
        </header>
    <div class="wrapper" >
<br>

    {% block content %}{% endblock %}

	
    {% block footer %}
		<footer  class="clearfix container footer fixed-bottom" style="padding-bottom: 5px;padding-top: 5px; border: 0px solid #008000; background-color:#F4AE00; height: 75px;">
			<!--div class="container"-->
				<div class="row">
					<div class="col-md-12 text-success">
						<div class="block">
							<a href="#"><img src="{{url_for('.static', filename='img/logo.png')}}" alt=""></a>
							<p>© 2018 All rights reserved <a href="https://one.net.ng/" target="_blank">One Network</a></p>
						</div>
					</div>
				</div>
			<!--/div-->
		</footer>
	{% endblock %}
	</div>

	
	</body>
</html>
{% endblock %}