{% extends "layout.html" %}

{% block content %}

<div class="container content-center">
	<div class="row">
		<h3 class="col-md-6 mb-12  offset-md-3" style="text-align: center;">
			<p> Personal Details </p>
			<br>
		</h3>

		{% from "includes/_formhelpers.html" import render_field %}
		<form method="POST" action="" class="container needs-validation offset-md-1 border border-success rounded" novalidate">
			<div class="form-row">
				<br>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formP.first_name, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formP.last_name, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formP.middle_name, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formP.email, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formP.phone_number1, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formP.phone_number2, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-12 mb-3">
					<div class="input-group">
						{{render_field(formP.address_line1, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-12 mb-3">
					<div class="input-group">
						{{render_field(formP.address_line2, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formP.city, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formP.state, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formP.lga, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-6 mb-3">
					<div class="form-check">
						{{render_field(formP.accept_tos, class_="form-check-label")}}
					I accept Terms and Conditions.
					</div>
				</div>
			</div>

				<p>
					<div>
						{{render_field(formP.submit, class_="btn btn-success" )}}
					</div>
				</p>

		</form>
	</div>

<br>
<br>


	<div class="row">
		<h3 class="col-md-6 mb-12  offset-md-3" style="text-align: center;">
			<p> Business Details </p>
			<br>
		</h3>

		{% from "includes/_formhelpers.html" import render_field %}
		<form method="POST" action="" class="container needs-validation offset-md-1 border border-success rounded" novalidate">
			<div class="form-row">
				<br>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formB.business_name, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formB.business_rc, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formB.website, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-12 mb-3">
					<div class="input-group">
						{{render_field(formB.business_description, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formB.business_email, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formB.business_phone, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formB.mailbox, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-12 mb-3">
					<div class="input-group">
						{{render_field(formB.bus_address_line1, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-12 mb-3">
					<div class="input-group">
						{{render_field(formB.bus_address_line2, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formB.bus_city, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formB.bus_state, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="input-group">
						{{render_field(formB.bus_lga, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-3 mb-3">
					<div class="input-group">
						{{render_field(formB.bank_name, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-3 mb-3">
					<div class="input-group">
						{{render_field(formB.account_name, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-3 mb-3">
					<div class="input-group">
						{{render_field(formB.account_number, class_="form-control")}}
					</div>
				</div>

				<div class="col-md-3 mb-3">
					<!--Account type-->
				    <div class="form-check">
				    	{{render_field(formB.account_type, class_="form-check-label")}}
				    </div>
				</div>
				<p>
					<div>
						{{render_field(formB.submit, class_="btn btn-success" )}}
					</div>
				</p>




			</div>




		</form>
	</div>
<br>
<br>
</div>


{% endblock %}